/* header */
#masthead {margin-top: 40px;}
#masthead-title {text-align: center; display: flex; flex-direction: column; justify-content: center; padding: 0 20px;}
    #masthead-title img {margin:0 auto;}	
    #masthead-title h1 {color: var(--darkBlue);}
    #masthead-title hr {margin-bottom: 2em;}
    #masthead-title p {margin:0;}
    #masthead-title h2 {margin-top:0; margin-bottom:1em; font-size: 2em;}
#masthead-photo picture img {width:100%;}

#welkom, #aanbod, #vergoeding, #contact {margin-top: 60px;}
.section-start {text-align: center;}

#welkom-titel {padding: 0 40px; display: flex; flex-direction: column; justify-content: center;}
#welkom h2 {margin-bottom:0.5em; color:#5c7e3b;}
#welkom hr {margin-top: 0;}
#welkom-foto picture img {width: 100%;}

#aanbod h2 {margin-bottom: 0.5em; color: #3a7277;}
#aanbod hr {margin-top: 0;}
#aanbod-english {text-align: center; margin-top: 40px;}

.title-illu {background-repeat: no-repeat; background-size: 120px; background-position: top right; padding-top: 10px;}

#vergoeding h2 {margin-bottom: 0.5em; color: #8c5c11;}
#vergoeding hr {margin-top: 0;}
#vergoeding-footer {text-align: center;}

#contact {background-color: #fff; padding: 40px 0 60px 0; }
#contact div.flex {margin-top: 40px;}
#contact-formulier {padding-right: 10px;}
#contact-kaart {padding-left: 10px;}
#contact-kaart iframe {border-radius: 6px;}
#contact-kaart-adres {display: none;}

footer {margin-top: 0px !important;}

/* mobile device breakpoints */
/* @media screen and (max-width:1024px){} */
@media screen and (max-width:960px){
    #masthead-title h1 {font-size: 2.5em;}
}

@media screen and (max-width: 768px) {
    #masthead-title {margin-bottom: 50px;}
    
    #welkom-titel {padding: 0; order: 1; margin-bottom: 40px;}
    #welkom-foto {order: 2;}
    #aanbod-titel, #vergoeding-titel, #aanbod-english, #vergoeding-footer, .section-start {text-align: left;}

    #contact-formulier {padding-right: 0px;}
    #contact-kaart {padding-left: 0px;}
    #contact-kaart iframe {height: 400px !important; margin-top: 40px;}

    .title-illu {background-size: 95px; background-position: top right; padding-top: 0px;}
}

/* @media screen and (max-width: 640px){} */

@media screen and (max-width: 440px) {
    #contact-kaart-adres {display: block;}
    #masthead-title h1 {font-size: 2.2em;}
    #masthead-title h2 {font-size: 2em;}
}

/* @media screen and (max-width: 375px) {} */