<footer>
	<div class="inset-wide">
		<ul>
			<li>BIG registratie: <a href="https://zoeken.bigregister.nl/bignummer/69915509225" target="_blank">69915509225</a></li>
			<li>AGB persoonlijk: <a href="https://www.vektis.nl/agb-register/zorgverlener-94103477" target="_blank">94103477</a></li>
			<li>AGB praktijk: <a href="https://www.vektis.nl/agb-register/onderneming-94066642" target="_blank">94066642</a></li>
			<li>KvK nummer: <a href="https://www.kvk.nl/bestellen/#/82064008000048319694" target="_blank">82064008</a></li>
			
			<li><a href="https://lvvp.info/lid/16977/" target="_blank">LVVP</a> gecertificeerd <div class="LVVP-logo"><img src="/images/LVVP-visitatielogo.png" alt="LVVP logo" width="24" height="24"></div></li>
			<li><a href="/over">Over Natascha</a></li>
			<li><a href="/over/#visie">Praktijk Visie</a></li>
			<li><a href="/over/#documentatie">Praktijk Documentatie</a></li>
			<li><a href="/vergoeding">Vergoeding & Betaling</a></li>
			
			<li><a href="/privacy">Privacybeleid</a></li>
			<li><a href="https://lvvp.info/voor-clienten/wat-als-ik-ontevreden-ben-de-behandeling/">Klachten over behandeling?</a></li>
			<li><a href="https://wa.me/31642833135">WhatsApp</a> of bel <a href="tel:+31642833135">06 4283 3135</a></li>
			
			<li><a href="https://goo.gl/maps/Pv5xXZk53dogzLur9">Des Presstraat 12 1075 NX, A'dam</a></li>
			<li><a href="/en" onclick="setLangCookie('English');">🇬🇧 Website in English</a></li>
			<li>Aanwezig: ma, di, en do.</li>
			<li>© <span id="fyear">2026</span> In Mijn Humm</li>
		</ul>
		<script>document.getElementById('fyear').textContent = new Date().getFullYear();</script>
	</div>
</footer>
