<footer>
	<div class="inset-wide">
		<ul>
			<li>BIG registration: <a href="https://zoeken.bigregister.nl/bignummer/69915509225" target="_blank">69915509225</a></li>
			<li>AGB personal: <a href="https://www.vektis.nl/agb-register/zorgverlener-94103477" target="_blank">94103477</a></li>
			<li>AGB practice: <a href="https://www.vektis.nl/agb-register/onderneming-94066642" target="_blank">94066642</a></li>
			<li>KvK number: <a href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=820640080000" target="_blank">82064008</a></li>
			
			<li><a href="https://lvvp.info/lid/16977/" target="_blank">LVVP</a> certified <div class="LVVP-logo"><img src="/images/LVVP-visitatielogo.png" alt="LVVP logo" width="24" height="24"></div></li>
			<li><a href="/en/about">About Natascha</a></li>
			<li><a href="/en/about#vision">Practice Vision</a></li>
			<li><a href="/en/about#documentation">Practice Documentation</a></li>
			
			<li><a href="/en/reimbursement/">Compensation & Payment</a></li>
			<li><a href="/en/privacy">Privacy Policy</a></li>
			<li><a href="https://lvvp.info/voor-clienten/wat-als-ik-ontevreden-ben-de-behandeling/">Treatment Complaints?</a></li>
			<li><a href="https://wa.me/31642833135">WhatsApp</a> or call <a href="tel:+31642833135">06 4283 3135</a></li>
			
			<li><a href="https://goo.gl/maps/Pv5xXZk53dogzLur9">Des Presstraat 12 1075 NX, A'dam</a></li>
			<li><a href="/" onclick="setLangCookie('Dutch');">🇳🇱 Website in het Nederlands</a></li>
			<li>Present: mon, tue, and thu.</li>
			<li>© <span id="fyear">2026</span> In Mijn Humm</li>
		</ul>
		<script>document.getElementById('fyear').textContent = new Date().getFullYear();</script>
	</div>
</footer>
