<nav id="nav"{% unless page.body_class == 'home' %} class="sticky"{% endunless %}>
	<div id="nav-content" class="inset-wide">
		<a href="/en/" id="logo">
			<span id="nav-logo"{% if page.layout == 'home' %} role="img" aria-label="In Mijn Humm logo"{% endif %}></span>
			<span id="nav-logo-text">In Mijn Humm</span>
		</a>
		<div id="nav-menu">
			<ul id="nav-menu-list">
				<li><a href="/en/about">About Natascha</a></li>
				<li><a href="/en/#services">Services</a></li>
				<li><a href="/en/#reimbursement">Reimbursement</a></li>
				<li><a href="/en/#contact">Contact</a></li>
				<li><a href="/en/register">Register</a></li>
				<li><a href="{{ page.lang_switch | default: '/' }}" onclick="setLangCookie('Dutch');">🇳🇱 Nederlands</a></li>
			</ul>
			<div id="nav-more">
				<div class="nav-line"></div>
				<div class="nav-line"></div>
			</div>
		</div>
	</div>
</nav>
<div id="nav-menu-backdrop"></div>
