<!-- Schema.org markup for Google -->
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "MedicalBusiness",
		"name": "In Mijn Humm",
		"url": "https://www.inmijnhumm.nl",
		"logo": "https://www.inmijnhumm.nl/logo-humm.svg",
		"image": "https://www.inmijnhumm.nl/images/portret.jpg",
		"email": "natascha@inmijnhumm.nl",
		"telephone": "+31642833135",
		"medicalSpecialty": "Psychologist",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Des Présstraat 12",
			"addressLocality": "Amsterdam",
			"postalCode": "1075 NX",
			"addressCountry": "NL"
		},
		"areaServed": {
			"@type": "City",
			"name": "Amsterdam",
			"containsPlace": "Amsterdam Zuid"
		},
		"openingHours": ["Mo,Tu,Th 09:00-17:00"],
		"sameAs": [
			"https://www.vektis.nl/agb-register/onderneming-94066642",
			"https://zoeken.bigregister.nl/bignummer/69915509225"
		],
		"founder": {
			"@type": "Person",
			"name": "Natascha Hauser Middelberg",
			"jobTitle": "GZ-Psycholoog"
		},
		"knowsLanguage": ["nl", "en"]
	}
</script>
