// Footer
footer {
    color: var(--dark-grey);
    background-color: var(--darkPaper);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
    font-size: 0.8em;

    ul {
        columns: 4;
        column-gap: 8px;
        margin: 0;
        padding: 0;
        height: auto;
        min-height: 0;
        position: relative;
    }

    li {
        list-style-type: none;
        margin: 8px 0;
        break-inside: avoid;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
}

.LVVP-logo {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
