// Forms
input, textarea {
    font-size: 14px;
    font-family: inherit;
    padding: 8px 12px;
    margin: 4px 0;
    border: 1px solid var(--lightest-grey);
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    &:hover,
    &:active {
        border-color: #000;
    }
}

#contact {
    form {
        display: block;
        width: 100%;
        padding: 0;
        position: relative;
    }

    label span {
        display: none;
    }

    input,
    textarea {
        width: 100%;
    }
}

// Honeypot spam trap
#first_name_label {
    display: none;
}

// WhatsApp button
#whatsapp {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: none;

    span.w-icon {
        z-index: 2;
        display: block;
        background-color: #8edd75;
        background-image: url(/images/whatsapp.svg);
        width: 56px;
        height: 56px;
        border-radius: 28px;
        background-repeat: no-repeat;
        background-size: 32px;
        background-position: 12px 12px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        position: absolute;
        right: 0px;
        bottom: 0px;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border: none;
            background-color: #7bca62;
        }
    }

    &:hover span.w-nudge {
        display: block;
    }

    span.w-nudge {
        z-index: 1;
        display: none;
        position: absolute;
        width: 240px;
        height: 52px;
        right: 28px;
        bottom: 28px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    }

    span.w-nudge-face {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(/images/profiel-foto.jpg);
        background-size: 32px;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 2px;
    }

    span.w-nudge-text {
        display: block;
        text-align: left;
        position: absolute;
        left: 56px;
        top: 8px;
        color: #555;
        font-size: 0.9em;
    }
}
