// Navigation
nav {
    height: 48px;
    width: 100%;
    z-index: 3;
    position: fixed;
    top: -48px;
    transition: all 0.2s ease-in-out;
    background-color: var(--paper);
    box-shadow: rgba(0, 0, 0, 0);

    &.sticky {
        position: fixed;
        top: 0;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    }
}

#nav-content {
    height: 48px;
    position: relative;
    z-index: 1;
}

#nav-logo {
    display: block;
    position: absolute;
    top: 6px;
    left: 20px;
    width: 36px;
    height: 36px;
    background-image: url(/images/humm-logo.svg);
    background-size: 36px;
    background-position: center;
    background-repeat: no-repeat;
}

#nav-logo-text {
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 60px;
    font-weight: bold;
    font-style: italic;
    color: var(--darkBlue);
}

#logo {
    border-bottom: none;
}

// Menu
#nav-menu-list {
    position: absolute;
    right: 20px;
    top: 12px;
    margin: 0;

    li {
        display: inline;
        list-style: none;
        margin-left: 12px;

        a {
            opacity: 0.7;
            border-bottom: none;
            position: relative;
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 1;
            }

            &::after {
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                display: block;
                width: 0%;
                height: 1px;
                background-color: #000;
                opacity: 0;
                transition: width 0.2s ease-in-out,
                            opacity 0.2s ease-in-out;
            }

            &:hover::after {
                width: 100%;
                opacity: 1;
            }
        }
    }
}

// Hamburger menu button
#nav-more {
    display: none;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    top: 8px;
    right: 20px;
    position: absolute;
}

.nav-line {
    width: 20px;
    height: 2px;
    position: absolute;
    right: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;

    &:first-child {
        top: 11px;
    }

    &:last-child {
        top: 19px;
    }
}

body.open {
    .nav-line:first-child {
        transform: rotate(45deg);
        top: 15px;
    }

    .nav-line:last-child {
        transform: rotate(-45deg);
        top: 15px;
    }
}

#nav-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}
